/*상단고정바*/
    #headerBar{
        position: fixed;
        background-color: white;
        z-index: 10;
        width: 100%;
    }
    #logo{
        width:100px;
    }/*로고*/
    #logo2{
        margin-top:5px;
        height:60px;
        width:100px;
    }/*로고*/
    #searchBox{
        margin-top:32px;
        width:600px;
    }/*검색*/    

/*메뉴바*/
    #menuBar{
        background-color: #E5E5E5;
        color:#7D7D7D;
        height:40px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }/*종류바*/
    #back{
        height: 100px;
    }/*상단바 높이*/
    #menu{
        text-decoration-line: none;
        color: #3D3D3D;
        font-weight:bold;
    }
    #menu:hover{
        color:gray;
    }

#backButton{
    border:none;
    background-color: white;
}
.top{
    float:right;
}
#search_icon{
    padding: 0px;
    color: darkgray;
}
.cards{
    margin: 30px 0 30px 0px;
}
.cardsh{
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}/*그림자*/
.button{
    border:none;
    background-color: #E5E5E5;
}
#backicon{
    color:black;
}
#사진{
    width:100%;
    aspect-ratio: 1;
}
#welcome{
    background-color: #095B85;
    text-align: center;
    padding: 30px;
    color: white;
}
#more{
    background-color:#E5E5E5;
    text-decoration-line: none;
    color: #3D3D3D;
    border: 0;
    float: right;
}

.head{
    padding: 10px;
    padding-left:15px;
    font-size: 20px;
    font-weight: bold;
    background: #F2F2F2;
    color:#3D3D3D;
}
.head2{
    padding: 10px;
    padding-left:15px;
    font-size: 20px;
    font-weight: bold;
    background: #F2F2F2;
    color:#3D3D3D;
    text-align: center;
}
#recos{
    padding:10px;
}
#book{
    border:none;
    background-color: #E5E5E5;
    margin-top:40px;
}
#footer{
    text-align: center;
    margin: 100px 0 50px 0;
    color: gray;
}
#crud{
    width:130px;
    margin:100px 0 0 30px;
    border-radius: 5px;
    border:0;
    background-color: lightgray;
    padding: 10px;
}
#scroll{
    text-align: center;
    margin: 120px 0 0 300px;
}