#logo{
    width:100px;
}
#logo2{
    margin-top:5px;
    height:60px;
    width:100px;
}
#searchBox{
    margin-top:32px;
    width:600px;
}
#menuBar{
    /* margin-top:100px; */
    background-color: lightgray;
    height:40px;
}
#headerBar{
    position: fixed;
    background-color: aqua;
    z-index: 10;
    width: 100%;
}
#back{
    height: 100px;
}
.top{
    float:right;
}
#search_icon{
    padding: 0px;
    color: darkgray;
}